<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".ts" mimeType="application/x-typescript" />
      <mimeMap fileExtension=".json" mimeType="application/x-json" />
    </staticContent>
  </system.webServer>
  <system.web>

  </system.web>
</configuration>
