<!doctype html>
<html lang="fr">
<head>
<meta Charest="UTF-8">
<title>Test AngularJS</title>
<!--script src="C:\wamp\ww	w\Formation-AngularJS\assets\angular.min.js"></script-->
<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script-->

<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../assets/ex1.js"></script> 
</head>  

<body ng-app="myApp">	
<div  ng-controller="monControl">
<h1> {{maVariable}} </h1>
<h1 ng-bind="isNumber">  </h1>

<ul> 
<p>Rechercher un contact :</p>
<label>Any: <input ng-model="search.$"></label>  
<label>Name: <input type="text"  ng-model="search.name"></label>
<label>Equality strict<input type="checkbox" ng-model="strict"></label><br>
<input type="checkbox" ng-show="false" ng-model="checked" ng-click="check()"/>
<button ng-click="affichage()">Afficher la liste</button>

<ul ng-show="visible">
<form>

<!-- <p>NOM: <input type="text" placeholder="NOM" ng-model="nom"/>
<p>PAYS: <input type="text" placeholder="PAYS" ng-model="country"/></p>
<button ng-click="ajout()">Ajouter un contact:</button> -->

</form>
<hr>
  <li ng-repeat="x in names | filter:search:strict | orderBy:'age'">  
  {{ x.name + ' ' +x.age  }}
   <!--
   {{ x.name+ ', ' + x.image }}-->

    <p><img  ng-click="clikImg()" width= "200px"  ng-src="{{x.image}}" /></p>
  </li> 
</ul>


<!-- <ul>
	<li ng-repeat="fruit in mesFruits">{{fruit}}</li>
</ul>
 -->

</div>
</body>
</html>