<!doctype html>
<html lang="fr">
<head>
<meta Charest="UTF-8">
<title>Test AngularJS</title>
<!--script src="C:\wamp\ww	w\Formation-AngularJS\assets\angular.min.js"></script-->
<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script-->

<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../assets/test_js.js"></script> 
</head>  



<body>
<div id="test">fruita</div>
<div id="saad">das</div>
<div id="location"></div> 

<!-- <progress value="50" max="100">50%</progress>
<input list="fruits"><datalist id="fruits"><option>Kiwi</option><option>Orange</option><option>Mangue</option></datalist> -->

</div>
</body>
</html>